$orange: #ea5a4b;
$gray: #252525;
$white: #fff;
$black: #000;

@mixin list-off {
  padding: 0;
  margin: 0;
  list-style: none;
}

.b-content_head {
  color: #464646;
  font-family: 'Bitter-Regular';
  font-size: 18px;
  margin: 25px;
}

.b-content_main {
  width: 100%;
  padding: 0 25px 25px;
}

.b-container_left {
  width: 74%;
  float: left;
  margin-right: 3%;
  line-height: 17px;
}

.b-container_right {
  width: 23%;
  float: right;
  line-height: 17px;
}

.b-container_left_tabs,
.b-container_left_video {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 5px solid $orange;
}

.b-container_tabs {
  border: 1px solid #c7c7c7;
  margin-bottom: 30px;
}

.b-tabs {
  background-color: #222528;
  text-align: center;
  padding-top: 60px;
}

.b-tab {
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  background-color: #8faf32;
  border-left: 1px solid $black;
}

.b-tab:first-child {
  border-left: none;
  border-radius: 5px 0 0 0;
}

.b-tab:last-child {
  border-radius: 0 5px 0 0;
}

.b-tab.active {
  background-color: #65841f;
  color: $black;
}

.b-tab_content {
  height: 200px;
  background-color: #efefef;
  padding: 5px 15px;
}

.b-nav_item p {
  margin: 0;
}

.b-title_date {
  width: 25%;
  float: left;
}

.b-date_head {
  margin: 0 0 5px;
  color: $gray;
  font-size: 14px;
  font-family: 'HelveticaNeueBold';
}

.b-date_title {
  margin-bottom: 10px;
  display: block;
  color: $orange;
  font-size: 12px;
  font-family: 'HelveticaNeueBold';
}

.b-title_content {
  width: 75%;
  float: right;
}

.b-content_p {
  margin-top: 0;
  color: $gray;
  font-size: 14px;
  font-family: 'HelveticaNeue';
}

.b-video_head,
.b-sound_head {
  color: #464646;
  font-family: 'Bitter-Regular';
  font-size: 18px;
  margin: 0 0 20px;
}

.b-video_content {
  margin-bottom: 30px;
}

.b-sound_content {
  margin-bottom: 30px;
}

.sound_track {
  width: 100%;
}

.b-right_about {
  margin-bottom: 25px;
  .b-right_about_head {
    margin: 0 0 25px;
    padding-bottom: 5px;
    border-bottom: 5px solid $orange;
  }
  p {
    color: $gray;
    font-size: 14px;
    font-family: 'HelveticaNeue';
  }
}


.b-category_list {
  @include list-off;
  .b-category_link {
    text-decoration: none;
    color: $gray;
    font-size: 14px;
    font-family: 'HelveticaNeue';
    span {
      font-family: 'HelveticaMedium';
    }
  }
}



.b-advertise_item {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 0 5px 5px;
  border: 1px solid #c9c9c9;
  background-color: #f5f5f5;
  span {
    display: block;
    width: 65px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #c6c6c6;
    font-size: 14px;
    font-family: 'Bitter-Regular';
  }
  &:first-child {
    background-image: url("../img/blog_min.jpg");
    span {
      display: none;
    }
  }
}

.b-advertise_item:nth-child(-2n+5) {
  margin-left: 0;
}
