
@import "portfolio.scss";
@import "blog.scss";
@import "contact.scss";

/* --------- fonts --------- */

@font-face {
	font-family: 'HelveticaMedium';
	src: url('../fonts/HelveticaMedium/HelveticaMedium.eot');
	src: url('../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaMedium/HelveticaMedium.woff2') format('woff2'),
	url('../fonts/HelveticaMedium/HelveticaMedium.woff') format('woff'),
	url('../fonts/HelveticaMedium/HelveticaMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bitter-Regular';
	src: url('../fonts/Bitter/Bitter-Regular.eot');
	src: url('../fonts/Bitter/Bitter-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Bitter/Bitter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bitter-Bold';
	src: url('../fonts/Bitter/Bitter-Bold.eot');
	src: url('../fonts/Bitter/Bitter-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Bitter/Bitter-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueBold';
	src: url('../fonts/HelveticaNeueBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@mixin list-off {
	padding: 0;
	margin: 0;
	list-style: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }

* { 
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;  
					box-sizing: border-box;
}

/*----- variables  -----*/
$orange: #ea5a4b;
$white: #fff;
$black: #000;


body, html { 
	height: 100%;
	background-color: #fafafa; }

.wrapper {
	max-width: 1020px;
	min-height: 100%;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 100px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.7); }

.header_top {
	position: relative;
	width: 100%;
	height: 45px;
	padding: 10px 30px;
	background-color: #222528; }

.social-list {
	position: absolute;
	right: 30px;
	@include list-off
	width: 120px;
	.social-list_item {
		display: inline-block;
		width: 26px;
		height: 20px;
		.social-list_item__link {
			display: block;
			width: 26px;
			height: 20px;
		}
		&:nth-child(1) a {
			background: url("../img/tw_icon.png") no-repeat center center;
		}
		&:nth-child(2) a {
			background: url("../img/fb_icon.png") no-repeat center center;
		}
		&:nth-child(3) a {
			background: url("../img/db_icon.png") no-repeat center center;
		}
		&:nth-child(4) a {
			background: url("../img/rss_icon.png") no-repeat center center;
		}
	}
}

.header_nav {
	position: relative;
	width: 100%;
	height: 55px;
	padding: 10px 30px;
	background-color: #fdfdfd;
}

.nav-list {
	@include list-off;
	position: absolute;
	right: 30px;
}

.nav-list_item {
	display: inline-block;
	width: auto;
	height: 35px;
	line-height: 40px;
	margin-left: 30px;
}

.nav-list_item:first-child {
	margin-left: 0;
}

.nav-list_item__link {
	text-decoration: none;
	color: #252525;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'HelveticaMedium';
}

.nav-list_item__link:hover,
.nav-list_item__link.active {
	color: $orange;
}

.header_nav__logo {
	float: left;
}

#bx-pager {
	background-color: #202326;
	padding: 25px;
}

.slide__control {
	padding: 0 30px;
	margin-top: -25px;
	position: relative;
}

.bx-pager_link {
	margin-left: 13px;
}

.bx-pager_link:first-child {
	margin-left: 0;
}

.bxslider_head {
	width: 90%;
	position: absolute;
	left: 30px;
	top: 25%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.h_title {
	margin: 11px 0;
}

.h_title span {
	padding: 5px 10px;
	color: $white;
	font-size: 24px;
	background-color: rgba(0, 0, 0, .7);
	font-family: 'Bitter-Bold';
}

.content {
	position: relative;
	margin: 0 30px;
	border: 1px solid #dfdfdf;
	background-color: #fff;
	z-index: 20;
}

.collums {
	padding: 2.5%;
}

.collums_item {
	width: 30%;
	margin-left: 5%;
	float: left;
	font-family: 'HelveticaNeue';
	color: #5c5c5c;
	font-size: 14px;
}

.collums_item:first-child {
	margin-left: 0;
}

.collums_head {
	height: 31px;
	line-height: 33px;
	display: block;
	padding-left: 45px;
	font-family: 'Bitter-Regular';
	font-weight: bold;
	color: #252525;
	font-size: 18px;
}

.c-bg1 {
	background: url("../img/collums_icon1.png") no-repeat left center;
}

.c-bg2 {
	background: url("../img/collums_icon2.png") no-repeat left center;
}

.c-bg3 {
	background: url("../img/collums_icon3.png") no-repeat left center;
}

.section_impression {
	text-align: center;
	font-size: 18px;
	font-family: 'Bitter-Bold';
	color: #252424;
	margin-bottom: 50px;
}

span.impression {
	padding: 7px 12px;
	background-color: $orange;
	color: $white;
}



// TABS

.container_tabs {
	margin: 0 30px;
}

.tabs {
	margin-bottom: 25px;
}

.tab {
	display: inline-block;
	margin-left: 15px;
	padding: 7px;
	cursor: pointer;
	font-family: 'Bitter-Regular';
	font-size: 14px;
}

.tab:first-child {
	margin-left: 0;
}

.tab.active {
	background-color: $orange;
	color: $white;
}

.nav_item_wrap {
	position: relative;
	width: 205px;
	height: 118px;
	float: left;
	margin: 0 25px 25px 0;
}

.item_wrap_hover {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	padding: 5px 10px;
	background-color: rgba(0,0,0,.75);
}

.item_wrap_hover span {
	color: $white;
	font-size: 14px;
	font-family: 'Bitter-Bold';
}

.nav_item_wrap:hover {
	cursor: pointer;
}

.nav_item_wrap:hover .item_wrap_hover {
	display: block;
}

.nav_item_wrap:nth-child(4n+4) {
	margin-right: 0;
}

.item1 {
	background: url("../img/tabs_foto1.jpg") no-repeat -90px center;
}

.item2 {
	background: url("../img/tabs_foto2.jpg") no-repeat -65px center;
}

.item3 {
	background: url("../img/tabs_foto3.jpg") no-repeat center -150px;
}

.item4 {
	background: url("../img/tabs_foto4.jpg") no-repeat -115px -45px;
}

.item5 {
	background: url("../img/tabs_foto5.jpg") no-repeat center center;
}

.item6 {
	background: url("../img/tabs_foto6.jpg") no-repeat center -70px;
}

.item7 {
	background: url("../img/tabs_foto7.jpg") no-repeat center center;
}

.item8 {
	background: url("../img/tabs_foto8.jpg") no-repeat center -25px;
}

.openbox {
	display: block;
	width: 205px;
	height: 118px;
}


// FOOTER

.footer {
	padding: 60px 30px 30px 30px;
	background-color: #222528;
	border-top: 5px solid $orange;
	margin-top: -30px;
	z-index: 10;
}

.f-elem {
	float: left;
	margin-left: 24px;
}

.f-elem:first-child {
	margin-left: 0;
}

.elem_header {
	display: block;
	margin-bottom: 20px;
	color: $white;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'HelveticaNeueBold';
}

.footer_posts {
	width: 31%;
}

.posts_list {
	@include list-off;
}

.posts_item {
	padding: 15px 25px 15px 0;
	color: #adadad;
	font-size: 14px;
	font-family: 'Bitter-Bold';
	border-top: 1px solid #3b3b3b;
}

.posts_item:first-child {
	padding-top: 0;
	border-top: none;
}

.footer_about {
	width: 32%;
}

.footer_about p {
	color: #adadad;
	font-size: 14px;
	font-family: 'Bitter-Bold';
}

.footer_social {
	width: 32%;
}

.social_block {
	@include list-off;
}

.social_item {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 0 0 5px 5px;
}

.social_item:nth-child(8n+1) {
	margin-left: 0;
}

.social_item_link {
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../img/social_icons.png");
	background-repeat: no-repeat;
}

.l-fb {
	background-position: -35px 0;
}

.l-tw {
	background-position: -71px 0;
}

.l-email {
	background-position: -108px 0;
}

.l-tumb {
	background-position: 0 -33px;
}

.l-path {
	background-position: -36px -33px;
}

.l-vimeo {
	background-position: -72px -33px;
}

.l-zer {
	background-position: -108px -33px;
}

.l-pic {
	background-position: 0 -67px;
}

.l-stum {
	background-position: -36px -67px;
}

.l-skype {
	background-position: -72px -67px;
}

.l-reddit {
	background-position: -108px -67px;
}

.l-ever {
	background-position: 0 -101px;
}

.l-behan {
	background-position: -36px -101px;
}

.l-dribb {
	background-position: -72px -101px;
}

.l-digg {
	background-position: -108px -101px;
}

.l-blog {
	background-position: 0 -135px;
}

.l-flick {
	background-position: -36px -135px;
}

.l-link {
	background-position: -72px -135px;
}

.l-gogle {
	background-position: -108px -135px;
}










