/* --------- fonts --------- */
@font-face {
  font-family: 'HelveticaMedium';
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bitter-Regular';
  src: url("../fonts/Bitter/Bitter-Regular.eot");
  src: url("../fonts/Bitter/Bitter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Bitter/Bitter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bitter-Bold';
  src: url("../fonts/Bitter/Bitter-Bold.eot");
  src: url("../fonts/Bitter/Bitter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bitter/Bitter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("../fonts/HelveticaNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*----- variables  -----*/
body, html {
  height: 100%;
  background-color: #fafafa; }

.wrapper {
  max-width: 1020px;
  min-height: 100%;
  margin: 0 auto; }

.header {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); }

.header_top {
  position: relative;
  width: 100%;
  height: 45px;
  padding: 10px 30px;
  background-color: #222528; }

.social-list {
  position: absolute;
  right: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 120px; }
  .social-list .social-list_item {
    display: inline-block;
    width: 26px;
    height: 20px; }
    .social-list .social-list_item .social-list_item__link {
      display: block;
      width: 26px;
      height: 20px; }
    .social-list .social-list_item:nth-child(1) a {
      background: url("../img/tw_icon.png") no-repeat center center; }
    .social-list .social-list_item:nth-child(2) a {
      background: url("../img/fb_icon.png") no-repeat center center; }
    .social-list .social-list_item:nth-child(3) a {
      background: url("../img/db_icon.png") no-repeat center center; }
    .social-list .social-list_item:nth-child(4) a {
      background: url("../img/rss_icon.png") no-repeat center center; }

.nav {
  position: relative;
  width: 100%;
  height: 55px;
  padding: 10px 30px;
  background-color: #fdfdfd;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); }
  .nav .nav_logo {
    float: left; }
  .nav .nav_menu {
    float: right; }
    .nav .nav_menu .nav-list {
      padding: 0;
      margin: 0;
      list-style: none;
      position: absolute;
      right: 30px; }

.nav-list_item {
  display: inline-block;
  width: auto;
  height: 35px;
  line-height: 40px;
  margin-left: 30px; }

.nav-list_item:first-child {
  margin-left: 0; }

.nav-item_link {
  text-decoration: none;
  color: #252525;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'HelveticaMedium'; }

.nav-list_item:hover .nav-item_link,
.nav-list_item.active .nav-item_link {
  color: #ea5a4b; }

#bx-pager {
  background-color: #202326;
  padding: 25px;
  text-align: center; }

.slide__control {
  padding: 0 30px;
  margin-top: -25px;
  position: relative; }

.bx-pager_link {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-left: 13px; }

.bx-pager_link:first-child {
  margin-left: 0; }

.bx-pager_link.active {
  -webkit-box-shadow: 0 0 0 2px #ea5a4b;
  -moz-box-shadow: 0 0 0 2px #ea5a4b;
  box-shadow: 0 0 0 2px #ea5a4b; }

.bxslider_head {
  width: 90%;
  position: absolute;
  left: 30px;
  top: 25%;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.h_title {
  margin: 11px 0; }

.h_title span {
  padding: 5px 10px;
  color: #fff;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Bitter-Bold'; }

.content {
  position: relative;
  margin: 0 30px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  z-index: 20; }

.collums {
  padding: 2.5%; }

.collums_item {
  width: 30%;
  margin-left: 5%;
  float: left;
  font-family: 'HelveticaNeue';
  color: #5c5c5c;
  font-size: 14px; }

.collums_item:first-child {
  margin-left: 0; }

.collums_head {
  height: 31px;
  line-height: 33px;
  display: block;
  padding-left: 45px;
  font-family: 'Bitter-Regular';
  font-weight: bold;
  color: #252525;
  font-size: 18px; }

.c-bg1 {
  background: url("../img/collums_icon1.png") no-repeat left center; }

.c-bg2 {
  background: url("../img/collums_icon2.png") no-repeat left center; }

.c-bg3 {
  background: url("../img/collums_icon3.png") no-repeat left center; }

.section_impression {
  text-align: center;
  font-size: 18px;
  font-family: 'Bitter-Bold';
  color: #252525;
  margin-bottom: 50px; }

span.impression {
  padding: 7px 12px;
  background-color: #ea5a4b;
  color: #fff; }

.container_tabs {
  margin: 0 30px; }

.tabs {
  margin-bottom: 25px; }

.tab {
  display: inline-block;
  margin-left: 15px;
  padding: 7px;
  cursor: pointer;
  font-family: 'Bitter-Regular';
  font-size: 14px; }

.tab:first-child {
  margin-left: 0; }

.tab.active {
  background-color: #ea5a4b;
  color: #fff; }

.nav_item_wrap {
  position: relative;
  width: 205px;
  height: 118px;
  float: left;
  margin: 0 25px 25px 0; }

.item_wrap_hover {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.75); }

.item_wrap_hover span {
  color: #fff;
  font-size: 14px;
  font-family: 'Bitter-Bold'; }

.nav_item_wrap:hover {
  cursor: pointer; }

.nav_item_wrap:hover .item_wrap_hover {
  display: block; }

.nav_item_wrap:nth-child(4n+4) {
  margin-right: 0; }

.item1 {
  background: url("../img/tabs_foto1.jpg") no-repeat -90px center; }

.item2 {
  background: url("../img/tabs_foto2.jpg") no-repeat -65px center; }

.item3 {
  background: url("../img/tabs_foto3.jpg") no-repeat center -150px; }

.item4 {
  background: url("../img/tabs_foto4.jpg") no-repeat -115px -45px; }

.item5 {
  background: url("../img/tabs_foto5.jpg") no-repeat center center; }

.item6 {
  background: url("../img/tabs_foto6.jpg") no-repeat center -70px; }

.item7 {
  background: url("../img/tabs_foto7.jpg") no-repeat center center; }

.item8 {
  background: url("../img/tabs_foto8.jpg") no-repeat center -25px; }

.openbox {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-wrap {
  z-index: 9999;
  background-color: #fff; }

.fancybox-close {
  background-image: url("../img/fancy_close.png");
  border-radius: 50%; }

.footer {
  padding: 60px 30px 30px 30px;
  background-color: #222528;
  border-top: 7px solid #ea5a4b;
  margin-top: -30px;
  z-index: 10; }

.f-elem {
  float: left;
  margin-left: 4%; }

.f-elem:first-child {
  margin-left: 0; }

.elem_header {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'HelveticaNeueBold'; }

.footer_posts {
  width: 30%; }

.posts_list {
  padding: 0;
  margin: 0;
  list-style: none; }

.posts_item {
  padding: 15px 25px 15px 0;
  color: #adadad;
  font-size: 14px;
  font-family: 'Bitter-Bold';
  border-top: 1px solid #3b3b3b; }

.posts_item:first-child {
  padding-top: 0;
  border-top: none; }

.footer_about {
  width: 30%; }

.footer_about p {
  color: #adadad;
  font-size: 14px;
  font-family: 'Bitter-Bold'; }

.footer_social {
  width: 32%; }

.social_block {
  padding: 0;
  margin: 0;
  list-style: none; }

.social_item {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 0 5px 5px; }

.social_item:nth-child(8n+1) {
  margin-left: 0; }

.social_item_link {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/social_icons.png");
  background-repeat: no-repeat; }

.l-fb {
  background-position: -35px 0; }

.l-tw {
  background-position: -71px 0; }

.l-email {
  background-position: -108px 0; }

.l-tumb {
  background-position: 0 -33px; }

.l-path {
  background-position: -36px -33px; }

.l-vimeo {
  background-position: -72px -33px; }

.l-zer {
  background-position: -108px -33px; }

.l-pic {
  background-position: 0 -67px; }

.l-stum {
  background-position: -36px -67px; }

.l-skype {
  background-position: -72px -67px; }

.l-reddit {
  background-position: -108px -67px; }

.l-ever {
  background-position: 0 -101px; }

.l-behan {
  background-position: -36px -101px; }

.l-dribb {
  background-position: -72px -101px; }

.l-digg {
  background-position: -108px -101px; }

.l-blog {
  background-position: 0 -135px; }

.l-flick {
  background-position: -36px -135px; }

.l-link {
  background-position: -72px -135px; }

.l-gogle {
  background-position: -108px -135px; }

.pf_top_img {
  position: relative;
  max-width: 1020px;
  overflow: hidden;
  z-index: 30; }

.pf_head {
  position: relative;
  margin: 0 30px;
  margin-top: -30px;
  padding: 35px;
  background-color: #222528;
  z-index: 40; }

.pf_head h1,
.pf_head p {
  margin: 0;
  font-family: 'Bitter-Bold'; }

.pf_head h1 {
  color: #fff; }

.pf_head p {
  color: #d1d0d0; }

.pf_tabs {
  margin: 25px 0; }

.item9 {
  background: url("../img/tabs_foto9.jpg") no-repeat -115px -100px; }

.item10 {
  background: url("../img/tabs_foto10.jpg") no-repeat -50px -15px; }

.item11 {
  background: url("../img/tabs_foto11.jpg") no-repeat -90px center; }

.item12 {
  background: url("../img/tabs_foto12.jpg") no-repeat -90px top; }

.item13 {
  background: url("../img/tabs_foto13.jpg") no-repeat -21px -12px; }

.item14 {
  background: url("../img/tabs_foto14.jpg") no-repeat -90px -40px; }

.item15 {
  background: url("../img/tabs_foto15.jpg") no-repeat -90px center; }

.item16 {
  background: url("../img/tabs_foto16.jpg") no-repeat center center; }

.b-content_head {
  color: #464646;
  font-family: 'Bitter-Regular';
  font-size: 18px;
  margin: 25px; }

.b-content_main {
  width: 100%;
  padding: 0 25px 25px; }

.b-container_left {
  width: 74%;
  float: left;
  margin-right: 3%;
  line-height: 17px; }

.b-container_right {
  width: 23%;
  float: right;
  line-height: 17px; }

.b-container_left_tabs,
.b-container_left_video {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 5px solid #ea5a4b; }

.b-container_tabs {
  border: 1px solid #c7c7c7;
  margin-bottom: 30px; }

.b-tabs {
  background-color: #222528;
  text-align: center;
  padding-top: 60px; }

.b-tab {
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background-color: #8faf32;
  border-left: 1px solid #000; }

.b-tab:first-child {
  border-left: none;
  border-radius: 5px 0 0 0; }

.b-tab:last-child {
  border-radius: 0 5px 0 0; }

.b-tab.active {
  background-color: #65841f;
  color: #000; }

.b-tab_content {
  height: 200px;
  background-color: #efefef;
  padding: 5px 15px; }

.b-nav_item p {
  margin: 0; }

.b-title_date {
  width: 25%;
  float: left; }

.b-date_head {
  margin: 0 0 5px;
  color: #252525;
  font-size: 14px;
  font-family: 'HelveticaNeueBold'; }

.b-date_title {
  margin-bottom: 10px;
  display: block;
  color: #ea5a4b;
  font-size: 12px;
  font-family: 'HelveticaNeueBold'; }

.b-title_content {
  width: 75%;
  float: right; }

.b-content_p {
  margin-top: 0;
  color: #252525;
  font-size: 14px;
  font-family: 'HelveticaNeue'; }

.b-video_head,
.b-sound_head {
  color: #464646;
  font-family: 'Bitter-Regular';
  font-size: 18px;
  margin: 0 0 20px; }

.b-video_content {
  margin-bottom: 30px; }

.b-sound_content {
  margin-bottom: 30px; }

.sound_track {
  width: 100%; }

.b-right_about {
  margin-bottom: 25px; }
  .b-right_about .b-right_about_head {
    margin: 0 0 25px;
    padding-bottom: 5px;
    border-bottom: 5px solid #ea5a4b; }
  .b-right_about p {
    color: #252525;
    font-size: 14px;
    font-family: 'HelveticaNeue'; }

.b-category_list {
  padding: 0;
  margin: 0;
  list-style: none; }
  .b-category_list .b-category_link {
    text-decoration: none;
    color: #252525;
    font-size: 14px;
    font-family: 'HelveticaNeue'; }
    .b-category_list .b-category_link span {
      font-family: 'HelveticaMedium'; }

.b-advertise_item {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 0 5px 5px;
  border: 1px solid #c9c9c9;
  background-color: #f5f5f5; }
  .b-advertise_item span {
    display: block;
    width: 65px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #c6c6c6;
    font-size: 14px;
    font-family: 'Bitter-Regular'; }
  .b-advertise_item:first-child {
    background-image: url("../img/blog_min.jpg"); }
    .b-advertise_item:first-child span {
      display: none; }

.b-advertise_item:nth-child(-2n+5) {
  margin-left: 0; }

.c-map {
  width: 100%;
  padding: 25px;
  min-height: 400px; }

.c-form_wrap {
  padding: 25px;
  color: #252525;
  font-size: 14px;
  line-height: 17px;
  font-family: 'HelveticaNeue'; }
  .c-form_wrap .c-form_left {
    width: 26%;
    float: left;
    margin-right: 2%; }
  .c-form_wrap .c-form_right {
    width: 72%;
    float: right; }

.c-form_info,
.c-form_adress,
.c-form_phone {
  margin-bottom: 20px; }

.c-form_info p {
  margin: 0; }

.adress_list,
.phone_list {
  padding: 0;
  margin: 0;
  list-style: none; }

.adress_item:first-child {
  color: #ea5a4b;
  font-family: 'HelveticaMedium'; }

.input {
  width: 49%;
  height: 33px;
  padding: 0 15px;
  background-color: #fff;
  border: solid 1px #252525;
  margin-left: 2%;
  margin-bottom: 15px; }

input:nth-child(-2n+5) {
  margin-left: 0; }

.textarea {
  width: 100%;
  height: 200px;
  padding: 15px;
  background-color: #fff;
  border: solid 1px #252525;
  resize: none;
  margin-bottom: 15px; }

::-webkit-input-placeholder {
  color: #252525; }

::-moz-placeholder {
  color: #252525; }

:-moz-placeholder {
  color: #252525; }

:-ms-input-placeholder {
  color: #252525; }

.button {
  border: none;
  width: 67px;
  height: 31px;
  background-color: #ea5a4b;
  color: #fff;
  font-size: 12px;
  font-family: 'HelveticaMedium';
  text-transform: uppercase; }

.error {
  border: solid 1px #ea5a4b; }

.error::-webkit-input-placeholder {
  color: #ea5a4b; }

.error::-moz-placeholder {
  color: #ea5a4b; }

.error:-moz-placeholder {
  color: #ea5a4b; }

.error:-ms-input-placeholder {
  color: #ea5a4b; }
