extends ../layouts/layout

block title
     | Intent - Portfolio

block content
  .nav.clearfix
    .nav_logo
      img( src="img/logo.png" alt="logo")
    .nav_menu
      ul.nav-list
        li.nav-list_item
          a(href="index.html" class="nav-item_link") Home 
        li.nav-list_item
          a(href="blog.html" class="nav-item_link") Blog
        li.nav-list_item.active
          a(href="portfolio.html" class="nav-item_link") Portfolio
        li.nav-list_item
          a(href="contact.html" class="nav-item_link") Contact
  .pf_top_img
    img(src="img/top_img.jpg", alt="")
  .pf_head
    h1 Portfolio
    p See Some of my work
  .content
    .container_tabs
      .tabs.pf_tabs
        span.tab All
        span.tab Print
        span.tab Photography
        span.tab Web
        span.tab Animation
      .tab_content
        .nav_item.clearfix
          .nav_item_wrap.item1
            a(href="img/tabs_foto1.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item2
            a(href="img/tabs_foto2.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item3
            a(href="img/tabs_foto3.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item4
            a(href="img/tabs_foto4.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item5
            a(href="img/tabs_foto5.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item6
            a(href="img/tabs_foto6.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item7
            a(href="img/tabs_foto7.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item8
            a(href="img/tabs_foto8.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item9
            a(href="img/tabs_foto9.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item10
            a(href="img/tabs_foto10.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item11
            a(href="img/tabs_foto11.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item12
            a(href="img/tabs_foto12.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item13
            a(href="img/tabs_foto13.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item14
            a(href="img/tabs_foto14.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item15
            a(href="img/tabs_foto15.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item16
            a(href="img/tabs_foto16.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
        .nav_item.clearfix
          .nav_item_wrap.item2
            a(href="img/tabs_foto2.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item5
            a(href="img/tabs_foto5.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item9
            a(href="img/tabs_foto9.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item10
            a(href="img/tabs_foto10.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item11
            a(href="img/tabs_foto11.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
        .nav_item.clearfix
          .nav_item_wrap.item3
            a(href="img/tabs_foto3.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item6
            a(href="img/tabs_foto6.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item8
            a(href="img/tabs_foto8.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item12
            a(href="img/tabs_foto12.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item14
            a(href="img/tabs_foto14.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
        .nav_item.clearfix
          .nav_item_wrap.item1
            a(href="img/tabs_foto1.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item4
            a(href="img/tabs_foto4.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item7
            a(href="img/tabs_foto7.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item16
            a(href="img/tabs_foto16.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item9
            a(href="img/tabs_foto9.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
        .nav_item.clearfix
          .nav_item_wrap.item13
            a(href="img/tabs_foto13.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item15
            a(href="img/tabs_foto15.jpg" class="openbox fancybox")
            .item_wrap_hover
              span Business Cards
