extends ../layouts/layout

block title
     | Intent - Portfolio

block content
  .pf_top_img
    img(src="img/top_img.jpg", alt="")
  .pf_head
    h1 Portfolio
    p See Some of my work
  .content
    .container_tabs
      .tabs.pf_tabs
        span.tab All
        span.tab Print
        span.tab Photography
        span.tab Web
        span.tab Animation
      .tab_content
        .nav_item.clearfix
          .nav_item_wrap.item1
            a(href="img/tabs_foto1.jpg" class="openbox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item2
            a(href="img/tabs_foto2.jpg" class="openbox")
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item3
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item4
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item5
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item6
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item7
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item8
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item9
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item10
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item11
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item12
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item13
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item14
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item15
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item16
            .item_wrap_hover
              span Business Cards
        .nav_item.clearfix
          .nav_item_wrap.item2
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item5
            .item_wrap_hover
              span Business Cards
        .nav_item.clearfix
          .nav_item_wrap.item3
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item6
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item8
            .item_wrap_hover
              span Business Cards
        .nav_item.clearfix
          .nav_item_wrap.item1
            .item_wrap_hover
              span Business Cards
          .nav_item_wrap.item4
            .item_wrap_hover
              span Business Cards
        .nav_item.clearfix
          .nav_item_wrap.item7
            .item_wrap_hover
              span Business Cards