.footer.clearfix
  .footer_posts.f-elem
    span.elem_header Recent posts
    ul.posts_list
      li.posts_item Wedding Photos that Will Blow Your Mind Away.
      li.posts_item Intent WordPress Theme Features are Amazing.
      li.posts_item A New Era of Design is Here.
      li.posts_item Creativio WordPress Theme now Available for Sale.
  .footer_about.f-elem
    span.elem_header About intent
    p.
      Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit commune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad. 
    p.
      Id vitae regione has. In tollit dicant vim. His ex detracto percipitur, id vis nibh quas illum. Delicata dissentiet ius ne, latine euripidis quaerendum et vis.
  .footer_social.f-elem
    span.elem_header Social media
    ul.social_block
      li.social_item
        a(href="https://ru.wikipedia.org/wiki/RSS" class="social_item_link l-rss" target="_blank")
      li.social_item
        a(href="https://www.facebook.com" class="social_item_link l-fb" target="_blank")
      li.social_item
        a(href="https://twitter.com" class="social_item_link l-tw" target="_blank")
      li.social_item
        a(href="https://www.yandex.ua" class="social_item_link l-email" target="_blank")
      li.social_item
        a(href="https://www.tumblr.com" class="social_item_link l-tumb" target="_blank")
      li.social_item
        a(href="https://path.com" class="social_item_link l-path" target="_blank")
      li.social_item
        a(href="https://vimeo.com" class="social_item_link l-vimeo" target="_blank")
      li.social_item
        a(href="https://zerply.com" class="social_item_link l-zer" target="_blank")
      li.social_item
        a(href="https://picasa.google.com" class="social_item_link l-pic" target="_blank")
      li.social_item
        a(href="http://www.stumbleupon.com" class="social_item_link l-stum" target="_blank")
      li.social_item
        a(href="http://www.skype.com/ru" class="social_item_link l-skype" target="_blank")
      li.social_item
        a(href="https://www.reddit.com" class="social_item_link l-reddit" target="_blank")
      li.social_item
        a(href="https://evernote.com/intl/ru" class="social_item_link l-ever" target="_blank")
      li.social_item
        a(href="https://www.behance.net" class="social_item_link l-behan" target="_blank")
      li.social_item
        a(href="https://dribbble.com" class="social_item_link l-dribb" target="_blank")
      li.social_item
        a(href="http://digg.com" class="social_item_link l-digg" target="_blank")
      li.social_item
        a(href="https://www.blogger.com" class="social_item_link l-blog" target="_blank")
      li.social_item
        a(href="https://www.flickr.com" class="social_item_link l-flick" target="_blank")
      li.social_item
        a(href="https://www.linkedin.com" class="social_item_link l-link" target="_blank")
      li.social_item
        a(href="https://www.google.ru" class="social_item_link l-gogle" target="_blank")