.header
  .header_top
    ul.social-list
      li.social-list_item
        a(href="https://twitter.com" class="social-list_item__link" target="_blank")
      li.social-list_item
        a(href="https://www.facebook.com" class="social-list_item__link" target="_blank")
      li.social-list_item
        a(href="https://dribbble.com/" class="social-list_item__link" target="_blank")
      li.social-list_item
        a(href="https://ru.wikipedia.org/wiki/RSS" class="social-list_item__link" target="_blank")
  .header_nav.clearfix
    .header_nav__logo
      img( src="img/logo.png" alt="logo")
    .header_nav__menu
      ul.nav-list
        li.nav-list_item
          a(href="index.html" class="nav-list_item__link active") Home 
        li.nav-list_item
          a(href="blog.html" class="nav-list_item__link") Blog
        li.nav-list_item
          a(href="portfolio.html" class="nav-list_item__link") Portfolio
        li.nav-list_item
          a(href="contact.html" class="nav-list_item__link") Contact