.header
  .header_top
    ul.social-list
      li.social-list_item
        a(href="https://twitter.com" class="social-list_item__link" target="_blank")
      li.social-list_item
        a(href="https://www.facebook.com" class="social-list_item__link" target="_blank")
      li.social-list_item
        a(href="https://dribbble.com/" class="social-list_item__link" target="_blank")
      li.social-list_item
        a(href="https://ru.wikipedia.org/wiki/RSS" class="social-list_item__link" target="_blank")
  